* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

span {
    font-family: 'Cormorant', serif;
    ;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(to right top, #9c049c, #000000);

}

.content-main {
    width: 95%;
    height: 85%;
    max-width: 600px;
    display: grid;
    justify-content: center;
    background-image:
        linear-gradient(to left bottom, #680268, #000000),
        url(/assets/img/telaDeFundoSabrina.avif);
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 2px white;
}

.aligment-a {
    display: grid;
}

a {
    width: 400px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 1px solid gray;
    animation: btn-animation 1s ease-in-out;
    transition: all 420ms ease-in-out;
}

@keyframes btn-animation {
    0% {
        transform: translateX(-600px);
    }

    100% {
        transform: translateX(0px);
    }
}

#instagram:hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    border: 0;
    box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
}

#tik-tok:hover {
    background: rgb(0, 242, 234);
    background: linear-gradient(90deg, rgba(0, 242, 234, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 1) 65%, rgba(255, 0, 80, 1) 100%);
    border: 0;
    box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
}

#vsco:hover {
    background: linear-gradient(90deg, black, white);
    border: 0;
    box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
}

#spotify:hover {
    background: #1eba55ff;
    border: 0;
    box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
}

#spotify:focus {
    background: greenyellow;
    border: 0;
    box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
}

#vsco:focus {
    background: linear-gradient(to right bottom, black, white);
    border: 0;
    box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
}

#instagram:focus {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    border: 0;
    box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
}

#tik-tok:focus {
    background: rgb(0, 242, 234);
    background: linear-gradient(90deg, rgba(0, 242, 234, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 1) 65%, rgba(255, 0, 80, 1) 100%);
    border: 0;
    box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
}


figure .img {
    background-image: url(/assets/img/IMG_4872.jpg);
    background-position: center center;
    background-size: cover;
    margin-left: 130px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: -1px 0px 10px 1px rgb(255, 255, 255);
    animation: rotate-self 1s ease-in-out alternate infinite;
}

@keyframes rotate-self {
    0% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
        box-shadow: -1px 60px 50px -20px black;
    }
}


.img-redes {
    display: flex;
    width: 25px;
    height: 25px;
    position: absolute;
}

#email {
    width: 400px;
    padding: 0px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 0;
    border-bottom: 1px solid gray;
}

#email:hover {
    color: rgb(241, 127, 127);
}

.img-email {
    width: 20px;
    height: 20px;
    margin: 0px 10px -5px 10px;
}

@media (max-width: 550px) {
    a {
        width: 330px;
        padding: 11px;
        margin-left: 10px;
        margin-bottom: 20px;
        border-radius: 50px;
        border: 1px solid gray;
        animation: btn-animation 1s ease-in-out;
    }
    figure .img {
        margin-left: 108px;
        width: 130px;
        height: 130px;

    }
    h1 {
        margin-top: 12px;
        margin-bottom: -2px;
        font-size: 30px;
    }
    .content-main {
        height: 87%;
    }
}